<ul class="breadcrumb">
	<li><a href="{{contextPath}}/c/sniffers">Sniffers</a></li>
	<li><a href="{{contextPath}}/c/sniffers/{{sniffer.id}}/events#/">{{sniffer.name}}</a>
		<span class="dropdown" dropdown>
			<button class="btn btn-xs" dropdown-toggle><i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="{{contextPath}}/c/sniffers/{{sniffer.id}}/events"><i class="glyphicon glyphicon-bullhorn"></i> Events</a></li>
				<li><a href="{{contextPath}}/c/sniffers/{{sniffer.id}}"><i class="glyphicon glyphicon-edit"></i> Edit</a></li>
				<li><a href="{{contextPath}}/c/sniffers/{{sniffer.id}}/status"><i class="glyphicon glyphicon-play-circle"></i> Control</a></li>
				<li class="divider"></li>
				<li><a href ng-click="deleteAllEvents()"><i class="glyphicon glyphicon-trash"></i> Delete all events</a></li>
				<li class="divider"></li>
				<li><a href ng-click="deleteSniffer()"><i class="glyphicon glyphicon-trash"></i> Delete sniffer</a></li>
			</ul>
		</span>
		<sup>
			<span class="label label-success" ng-if="sniffer.aspects.scheduleInfo.scheduled">{{nls.on}}</span>
			<span class="label label-default" ng-if="!sniffer.aspects.scheduleInfo.scheduled">{{nls.off}}</span>
		</sup>
	</li>
	<li class="active">Events</li>
</ul>

<div class="events">
	<script type="text/javascript">
		$(function() {
			$(".events .help-popup").popover();
		});
	</script>
	<div class="backdrop-overlay" style="display:none"></div>
	<div ng-if="!eventsList" us-spinner spinner-key="eventSearch"></div>

	<div class="row" style="margin-bottom:10px" ng-if="searchForm.basicSearch">
		<div class="col-md-5">
			<div class="input-group">
				<div class="input-group-btn">
				    <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				      Basic search
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
				      <li><a href="#" ng-click="switchToExtendedSearch()" onclick="return false">Extended search</a></li>
				    </ul>
				</div>
				<input type="text" class="form-control input-sm" ng-model="searchForm._query" placeholder="Query"
					ng-keyup="$event.keyCode == 13 ? search() : null">
				<span class="input-group-addon" id="basic-addon2">
					<i class="glyphicon glyphicon-info-sign help-popup" data-placement="bottom" data-container="body" data-html="true" data-content="
						The entred query is evaluated as Elasticsearch's
						 &lt;a href='http://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html' target='_blank'&gt;Simple Query String Query&lt;/a&gt;.
						 It supports the following special characters:
						 &lt;ul&gt;
						 	&lt;li&gt; + signifies AND operation &lt;/li&gt;
						 	&lt;li&gt; | signifies OR operation &lt;/li&gt;
						 	&lt;li&gt; - negates a single token &lt;/li&gt;
						 	&lt;li&gt; &quot; wraps a number of tokens to signify a phrase for searching &lt;/li&gt;
						 	&lt;li&gt; * at the end of a term signifies a prefix query &lt;/li&gt;
						 	&lt;li&gt; ( and ) signify precedence &lt;/li&gt;
						 &lt;/ul&gt;
						 See Elasticsearch's official documentation for more details.
						 " data-title="Query syntax"></i>
				</span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="input-group">
				<div class="input-group-btn" ng-init="datePickerFromOpen=false">
				    <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				      From
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
				      <li><a href="#" ng-click="setOccurrenceRangeFrom()" onclick="return false">All</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('MINUTE',-5)" onclick="return false">5min</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('MINUTE',-15)" onclick="return false">15min</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('HOUR',-1)" onclick="return false">1h</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('HOUR',-2)" onclick="return false">2h</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('HOUR',-6)" onclick="return false">6h</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('HOUR',-12)" onclick="return false">12h</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('DAY',-1)" onclick="return false">1d</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('DAY',-2)" onclick="return false">2d</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('WEEK',-1)" onclick="return false">1w</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('MONTH',-1)" onclick="return false">1mon</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('MONTH',-3)" onclick="return false">3mon</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('MONTH',-6)" onclick="return false">6mon</a></li>
				      <li><a href="#" ng-click="setOccurrenceRangeFrom('YEAR',-1)" onclick="return false">1y</a></li>
				    </ul>
				</div>
		        <input type="text" class="form-control input-sm" datepicker-popup="medium" ng-model="searchForm._from" close-text="Close" 
		        	placeholder="Start timestamp" is-open="datePickerFromOpen" datepicker-append-to-body="true" readonly="readonly"/>
		        <span class="input-group-btn">
		          <button type="button" class="btn btn-default btn-sm" ng-click="$event.preventDefault();$event.stopPropagation();datePickerFromOpen=!datePickerFromOpen"><i class="glyphicon glyphicon-calendar"></i></button>
		          <button type="button" class="btn btn-default btn-sm" title="Not yet supported" disabled="disabled"><i class="glyphicon glyphicon-time"></i></button>
        		</span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="input-group" ng-init="datePickerToOpen=false">
		        <input type="text" class="form-control input-sm" datepicker-popup="medium" ng-model="searchForm._to" close-text="Close" 
		        	placeholder="End timestamp" is-open="datePickerToOpen" datepicker-append-to-body="true" readonly="readonly"/>
		        <span class="input-group-btn">
		          <button type="button" class="btn btn-default btn-sm" ng-click="$event.preventDefault();$event.stopPropagation();datePickerToOpen=!datePickerToOpen"><i class="glyphicon glyphicon-calendar"></i></button>
		          <button type="button" class="btn btn-default btn-sm" title="Not yet supported" disabled="disabled"><i class="glyphicon glyphicon-time"></i></button>
        		</span>
			</div>
		</div>
		<div class="col-md-1">
			<button class="btn btn-sm btn-default btn-block" type="button" ng-click="search()" title="Filter events"><i class="glyphicon glyphicon-search"></i> search</button>
		</div>
	</div>
	<div class="row" style="margin-bottom:10px" ng-if="!searchForm.basicSearch">
		<div class="col-md-11">
			<div class="form-group">
				<label for="nativeQuery">Native query:</label>
				<textarea rows="4" class="form-control" id="nativeQuery" ng-model="searchForm._nativeQuery" placeholder="Native query"></textarea>
			</div>
		</div>
		<div class="col-md-1">
			<label> </label>
			<button class="btn btn-sm btn-default btn-block" type="button" ng-click="search()" title="Search for events"><i class="glyphicon glyphicon-search"></i> search</button>
			<button class="btn btn-sm btn-link btn-block" type="button" ng-click="switchToBasicSearch()" title="Return back to basic search">Basic search</button>
		</div>
	</div>

	<div mc-messages></div>
	<div lsf-alerts alerts="alerts"></div>

	<div ng-if="eventsList && eventsList.totalCount==0" class="alert alert-info">No events registered so far!</div>	
	<div ng-if="eventsList && eventsList.totalCount!=0">
		<div id="eventsHistogramChart" google-chart chart="eventsTrendChart" 
			on-select="setOccurrenceRangeFromChart(selectedItem)" style="width: 100%; height: 100px;"></div>
		<div class="clearfix">
			<div class="pull-left">
				<strong>Events {{searchForm._offset + 1}} - {{Math.min(searchForm._offset + searchForm._itemsPerPage, eventsList.totalCount)}} of {{eventsList.totalCount}}</strong>
			</div>
			<div class="pull-right">
				<pagination total-items="eventsList.totalCount" ng-model="pager.currentPage" ng-change="pageChanged()" max-size="15" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
					items-per-page="searchForm._itemsPerPage"></pagination>
			</div>
		</div>
		<div>
			<div class="event log" ng-repeat="event in eventsList.items" onmouseenter="$(this).find('.hidden2').fadeIn('fast')" onmouseleave="$(this).find('.hidden2').fadeOut('fast')">
				<div class="thumbnail desc" ng-if="event.entries[0].fields._raw">
					<div class="text severity sc-{{event.entries[0].fields._severity.c}}">{{event.entries[0].fields._raw | cut:false:1024:'...'}}</div>
				</div>
				<div class="well well-sm post-desc">
					<div class="clearfix">
						<div class="pull-left hidden2" style="position:absolute">
							<a class="btn btn-default btn-xs" href="#/{{event.id}}"><i class="glyphicon glyphicon-bullhorn"></i> Open event</a>
							<a class="btn btn-default btn-xs" href="{{contextPath}}/c/sources/{{event.logSourceId}}/show?log={{event.logPath | escape}}#?pointer={{event.entries[0].startOffset.json | json:0 | escape}}"><i class="glyphicon glyphicon-list"></i> Open in log</a>
							<!-- <a class="btn btn-default btn-xs" href="#"><i class="glyphicon glyphicon-bookmark"></i> Bookmark</a>
							<a class="btn btn-default btn-xs" href="#"><i class="glyphicon glyphicon-eye-open"></i> Mark as read</a>
							<a class="btn btn-default btn-xs" href ng-click="deleteEvent($index, event)"><i class="glyphicon glyphicon-trash"></i> Delete event</a>							
							 -->
						</div>
						<div class="pull-right text-muted">
							{{event.logPath}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<form id="sniffer-delete-form" method="post"></form>