<ul class="breadcrumb">
	<li><a href="{{contextPath}}/c/sniffers">Sniffers</a></li>
	<li><a href="#/">{{sniffer.name}}</a></li>
	<li class="active">Event - {{eventId}}
		<span class="dropdown" uib-dropdown>
			<button class="btn btn-xs" uib-dropdown-toggle><i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li ng-class="{'disabled': !event}"><a href ng-click="deleteEvent()"><i class="glyphicon glyphicon-trash"></i> Delete event</a></li>
			</ul>
		</span>
	</li>
</ul>

<div class="events" lsf-busy-container busy="state.busy">
	<div mc-messages></div>

	<uib-tabset ng-if="event">
		<uib-tab heading="Event">
			<div class="event log" ng-init="logMsgCharLimit=1024">
				<div>
					<h4>Fields</h4>
					<lfs-fields-table fields="event" exclude-fields="['lf_entries']" include="['lf_startOffset']"></lfs-fields-table>
				</div>
				<h4>Log entries</h4>
				<div ng-repeat="entry in event.lf_entries track by $index">
					<div class="thumbnail desc" ng-if="entry.lf_raw">
						<div class="text severity sc-{{entry.lf_severity.c}}">{{entry.lf_raw | cut:false:logMsgCharLimit:'...':expanded}}<div ng-show="entry.lf_raw.length>logMsgCharLimit"><a href="#" ng-click="expanded=!expanded" onclick="return false"><i class="glyphicon" ng-class="{'glyphicon-chevron-down':!expanded,'glyphicon-chevron-up':expanded}"></i> <span ng-if="!expanded">show more</span><span ng-if="expanded">show less</span></a></div></div>
					</div>
					<div class="well well-sm post-desc">
						<div class="clearfix">
							<div class="pull-left" style="position:absolute">
								<a class="btn btn-default btn-xs" href="#" ng-click="zoomEntry({entry:entry})" onclick="return false"><i class="glyphicon glyphicon-zoom-in"></i> Show entry details</a>
								<a class="btn btn-default btn-xs" href="{{contextPath}}/c/sources/{{event.lf_logSourceId}}/show?log={{event.lf_logPath | escape}}#?highlight=true&pointer={{entry.lf_startOffset.json | json:0 | escape}}"><i class="glyphicon glyphicon-list"></i> Open in log</a>
							</div>
							<div class="pull-right text-muted">
								{{event.lf_logPath}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="JSON">
			<json-formatter json="event" open="2"></json-formatter>
		</uib-tab>
	</uib-tabset>
</div>