<script type="text/javascript">
LogSnifferNgApp.controllerProvider.register(
	"CompoundSourceController", ['$scope', '$http', 'lsfAlerts', '$log',
	function ($scope, $http, lsfAlerts, $log) {
		$scope.alerts = lsfAlerts.create();
		$scope.busy = false;
		$scope.sources = [];
		$scope.logs = {};

		$scope.$watch('bean.parts', function(newValue, oldValue) {
			if (!angular.isArray(newValue) || newValue.length==0) {
				$scope.bean.parts=[{
					sourceId: null,
					logPath: null
				}];
			}
		}, true);

		$scope.$watch('bean.reader.targetReader', function(newValue, oldValue) {
			$scope.bean.reader.targetReader = null;
		}, true);

		$scope.addInstance = function() {
			$scope.bean.parts.push({
				sourceId: null,
				logPath: null
			})
		};
		$scope.deleteInstance = function(i) {
			$scope.bean.parts.splice(i,1);
		};

		$scope.loadLogsForSource = function (sourceId) {
			if (typeof $scope.logs[sourceId] == "undefined") {
				$scope.logs[sourceId] = [];
       		    $scope.busy = true;
				$log.info("Resolving logs for source", sourceId);
				$http({
		        		url : $scope.contextPath + "/c/sources/"+sourceId+"/logs",
		        		method : "GET"
		        	})
		       	.success(
		       		function(data, status, headers, config) {
		       		    $scope.busy = false;
		       		 	$scope.logs[sourceId] = data;
		       		    $log.info("Loaded logs for source: ", sourceId, data);
		       		})
		       	.error(
		       		function(data, status, headers, config, statusText) {
		       		    $scope.busy = false;
		       		    $scope.alerts.httpError("Failed to load logs for source " + sourceId, data, status, headers, config, statusText);
		       		}
		       	);
			}
		};

		$log.info("Resolving sources");
		$http({
        		url : $scope.contextPath + "/c/sources",
        		method : "GET"
        	})
       	.success(
       		function(data, status, headers, config) {
       		    $scope.busy = false;
       		    $scope.sources = [];
       		    for(var i=0;i<data.length;i++) {
       		    	if (data[i].id == $scope.bean.id) {
       		    		// Filter out current source
       		    		continue;
       		    	}
       		    	var tmstField = LogSniffer.get(data[i], 'reader.fieldTypes.lf_timestamp');
       		    	if (tmstField != "DATE") {
       		    		// Filter out sources without timestamp field
	       		    	$log.info("Source "+data[i].id+" is filtered out, because it has not a lf_timestamp field of type DATE: ", tmstField);
       		    		continue;
       		    	}
       		    	$scope.sources.push(data[i]);
       		    }
       		    $log.info("Sources loaded: ", $scope.sources);
       		})
       	.error(
       		function(data, status, headers, config, statusText) {
       		    $scope.busy = false;
       		    $scope.alerts.httpError("Failed to load log sources", data, status, headers, config, statusText);
       		}
       	);
}]);
LogSnifferNgApp.controllerProvider.register(
	"CompoundSourcePartController", ['$scope', '$http', '$log',
	function ($scope, $http, $log) {
		$scope.$watch('part.sourceId', function(newValue, oldValue) {
			// Call in parent
			if (newValue) {
				$scope.loadLogsForSource(newValue);
			}
		});
}]);
</script>
<div id="source-compound-wizard" ng-controller="CompoundSourceController">
	<div lsf-alerts alerts="alerts"></div>
	<div lsf-busy-container busy="busy">
		<lsf-info-label label="Compounds log data from multiple logs into a continuous stream ordered by the timestamp" class="text-muted">
			This source compounds in real-time multiple logs into one continuous stream of log entries
			ordered by the internal timestamp field <code>lf_timestamp</code>. This enables correlation of logs from multiple sources by timestamp.
			Typical use case are e.g.
			<ul>
				<li>Compounding of logs from all hosts of a cluster</li>
				<li>Correlating of logs from different systems like web servers, application
					servers, databases etc. to support efficient root cause analysis</li>
			</ul>
			Make sure the entries in the log files to combine are ordered my a timestamp value which is parsed and evaluated as a date 
			field (e.g. using the timestamp filter). 
		</lsf-info-label>

		<label>Log instances to combine</label>
		<a class="btn btn-link" ng-click="addInstance()">
			<i class="glyphicon glyphicon-plus"></i> Add instance</a>
		<div ng-repeat="part in bean.parts">
			<div class="row" ng-controller="CompoundSourcePartController">
				<div class="col-md-6">
					<lsf-form-group class="form-group required" field-name="part[{{$index}}].sourceId" field-path="parts[{{$index}}].sourceId" bind-errors="bindErrors">
						<label for="part[{{$index}}].sourceId" class="form-label">Source:</label>
						<select ng-model="part.sourceId" name="part[{{$index}}].sourceId" id="part[{{$index}}].sourceId"
							required="required" ng-options="logSource.id as logSource.name for logSource in sources" class="form-control">
							<option value="">- Please select -</option>
						</select>
					</lsf-form-group>
				</div>
				<div class="col-md-6">
					<lsf-form-group class="form-group required" field-name="part[{{$index}}].logPath" field-path="pastLogsType" bind-errors="bindErrors">
						<lsf-info-label label="Log:" for="part[{{$index}}].logPath">
							Choose between compounding all logs from a source or only a dedicated one.
						</lsf-info-label>
						<div class="input-group">
							<select ng-model="part.logPath" name="part[{{$index}}].logPath" id="part[{{$index}}].logPath"
								ng-options="log.path as log.name for log in logs[part.sourceId]" class="form-control">
								<option value="">- All -</option>
							</select>
							<div class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="deleteInstance($index)"
									title="Delete this log instance"><i class="glyphicon glyphicon-trash"></i></button>
							</div>
						</div>
					</lsf-form-group>
				</div>
			</div>
		</div>


	</div>
</div>
