<div class="viewer-fullscreen" ngsf-fullscreen>
<div class="lsf-viewer">
		<style>
.row.padded,.row.padded {
	margin: 0.5em 0;
}

.log-viewer {
	background: #fff;
}

#log-entries-frame {
	height: 500px;
	overflow-y: auto;
	padding:0;
	margin:0;
}

.log-entries {
	margin:15px 0;
}

.log-entries td {
	white-space: pre !important;
}

.spinner {
	height:1px;
}

.log-entries td.zoom {
	padding:0 2px;
}

.log-entries td.zoom * {
	visibility:hidden;
}

.log-entries tr:hover td.zoom * {
	visibility:visible;
}
.viewer-fullscreen.fullscreen {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 10px;
	background-color: #fff;
}
</style>
	<div class="backdrop-overlay" style="display:none"></div>
	<div lsf-alerts alerts="alerts"></div>
	<uib-accordion close-others="false" ng-if="searchEnabled" class="viewer-search">
		<uib-accordion-group is-open="searchSettings.expanded">
	        <uib-accordion-heading>
	            Search<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !searchSettings.expanded, 'glyphicon-chevron-up': searchSettings.expanded}"></i>
	        </uib-accordion-heading>
	        <div id="search-control" ng-form="form">
	        	<lfs-bean-wizard ng-if="wizardScannerEnabled" bean="wizardScanner.bean" bean-type-label="Scanner type" wizards="searchWizards()"
					shared-scope="sharedScope" bind-errors="searchBindErrors" bind-errors-prefix=""
					model-exclude="['fieldTypes']"></lfs-bean-wizard>
				<div class="row">
				    <div class="col-md-12">
						<div class="radio-inline">
							<label>
								<input type="radio" name="searchDir" ng-model="searchSettings.dir" value="1"> forward
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="searchDir" ng-model="searchSettings.dir" value="-1"> backward
							</label>
						</div>
				    	<span style="position:relative;margin-left:1em">
					    	<button class="btn btn-primary btn-sm" ng-disabled="searchStatus=='searching' || form.$invalid" ng-click="search()"><i class="glyphicon glyphicon-search"></i> search</button>
				    		<span ng-if="searchStatus!='none'">
								<div style="position:absolute;right:0;top:0">
									<div style="position:relative">
										<div class="popover right fade search-status in bg-success overlay-backdrop-visible"
											style="top: -12px; left: 0px; display: block; margin-left: 1em;max-width:none">
										  <div class="arrow"></div>
										  <div class="popover-inner">
										    <div class="popover-content">
								    			<span style="white-space:nowrap;">
									    			<span ng-if="searchStatus=='searching'" class="searching">
									    				<span us-spinner="{top:'0'}"></span>
									    				<span style="padding-left:20px">Searching...</span>
									    			</span>
									    			<span ng-if="searchStatus=='hit'" class="text-success"><i class="glyphicon glyphicon-ok-circle" style="font-size:130%"></i> Found next matching entry</span>
									    			<span ng-if="searchStatus=='miss'" class="text-danger"><i class="glyphicon glyphicon-ban-circle" style="font-size:130%"></i> No matching entry found</span>
									    			<span ng-if="searchStatus=='error'" class="text-danger"><i class="glyphicon glyphicon-flash" style="font-size:130%"></i> {{searchStatusText}}</span>
									    			<span ng-if="searchStatus=='cancelled'" class="text-muted"><i class="glyphicon glyphicon-remove-circle" style="font-size:130%"></i> Cancelled search</span>
									    			<button class="btn btn-default btn-xs" ng-show="searchStatus=='searching'" style="margin-right:1em" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> cancel</button>
									    			<span ng-if="searchSpeed" class="text-muted">[{{searchSpeed}}/s]</span>
									    		</span>
											</div>
										  </div>
										</div>
									</div>
								</div>
					    	</span>
				    	</span>

				    </div>
				</div>
	        </div>
    	</uib-accordion-group>
	</uib-accordion>



	<div class="row">
		<div class="col-md-1">
			<a class="btn btn-default btn-sm start disabled" ng-click="fromStart()"
				onclick="return !$(this).hasClass('disabled')"><i
				class="glyphicon glyphicon-fast-backward"></i> Start</a>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					<lsf-log-navigator-date ng-if="navType=='DATE'" init-with-entry="getTopLogEntry()"></lsf-log-navigator-date>
					<lsf-log-position ng-if="navType!='DATE'" pointer="mark" name="logpos" log="log" active="false" disabled="false" pointer-tpl="pointerTpl()"></lsf-log-position>
				</div>
			</div>
		</div>
		<div class="col-md-1">
			<a class="btn btn-default btn-sm pull-right tail" id="tail"
				ng-click="fromTail()" style="margin-left:4px"><i
				class="glyphicon glyphicon-fast-forward"></i> Tail</a>
			<button data-toggle="dropdown" href="#" class="btn btn-xs btn-info pull-right" style="margin:4px 0"
				title="Navigate by {{navType=='BYTE' ? 'byte offset':(navType=='DATE' ? 'timestamp' : '')}}">
					<i class="glyphicon"
						ng-class="{'glyphicon-transfer': navType=='BYTE', 'glyphicon-time': navType=='DATE'}"></i>
					<i class="glyphicon glyphicon-option-horizontal"></i></button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li class="dropdown-header">Navigation type</li>
				<li><a href ng-click="setNavType('BYTE')" ng-if="supportedNavTypes.BYTE"><i class="glyphicon glyphicon-transfer"></i> By byte offset</a></li>
				<li><a href ng-click="setNavType('DATE')" ng-if="supportedNavTypes.DATE"><i class="glyphicon glyphicon-time"></i> By timestamp</a></li>
			</ul>
		</div>
	</div>
	
	<div class="well log-viewer">
		<div id="log-entries-frame">
			<div class="spinner top"></div>
			<table class="table table-condensed table-hover log-entries" id="">
				<thead></thead>
				<tbody></tbody>
			</table>
			<div class="spinner bottom"></div>
		</div>
	</div>
	
	<div class="text-right">
		<span ng-if="isFollowEnabled">
			<span style="visibility:hidden" id="slow-following-popup" data-toggle="popover" data-placement="left" data-content="The log is being written to fast in the background. Following is lagging behind the tail...">x</span>
			<button type="button" class="btn tail-follow"
				data-toggle="button"
				ng-click="toggleTailFollow()" ng-class="tailFollowEnabled ? 'btn-info' : 'btn-default'"
				onclick="this.blur()">
				<i class="fa fa-refresh" ng-class="{'fa-spin': tailFollowEnabled}"></i> tail &amp; follow
			</button>
		</span>
		<button ng-if="viewerFieldsConfigEnabled()" type="button" class="btn btn-default" ng-disabled="tailFollowEnabled" ng-click="configureFields()">
			<i class="glyphicon glyphicon-th" title="Resize log viewer to full screen"></i> Configure fields
		</button>
		<button type="button" class="btn btn-default" ng-class="fullscreen ? 'btn-info' : 'btn-default'" ngsf-toggle-fullscreen>
			<i class="glyphicon" ng-class="fullscreen ? 'glyphicon-resize-small' : 'glyphicon-fullscreen'" title="Resize log viewer to full screen"></i>
		</button>
	</div>
</div>
</div>