<style>
	.zoom-entry-modal .tab-content {
		overflow:auto;
		min-height:200px;
	}
</style>
<div class="modal-header">
	<h4 class="modal-title">Log entry details</h4>
</div>
<div class="modal-body" class="zoom-entry-modal">
	<lsf-busy-container busy="busy">
		<div lsf-alerts alerts="alerts"></div>
		<uib-tabset>
	    	<uib-tab heading="Fields"><lfs-fields-table fields="entry" exclude-raw="true"></lfs-fields-table></uib-tab>
	    	<uib-tab heading="Raw content"><div class="log"><div class="text nowrap"><div class="raw">{{entry.lf_raw}}</div></div></div></uib-tab>
	    	<uib-tab heading="JSON"><json-formatter json="entry" open="2"></json-formatter></uib-tab>
			<div class="pull-right" style="padding:0.5em 0">
				<button class="btn btn-default btn-xs" ng-if="entryNavigationEnabled" 
					ng-disabled="entry.lf_startOffset.sof || busy" ng-click="nextEntry(-1)"><i class="fa fa-arrow-left"></i> Prev</button>
				<button class="btn btn-default btn-xs" ng-if="entryNavigationEnabled"
					ng-disabled="entry.lf_endOffset.eof || busy" ng-click="nextEntry(+1)"><i class="fa fa-arrow-right"></i> Next</button>
			</div>
	    </uib-tabset>
	</lsf-busy-container>
</div>
<div class="modal-footer">
	<span class="slide-animate" ng-if="bottomBarButtonsTpl" ng-include="bottomBarButtonsTpl"></span>
	<span ng-if="entryViewerLink" class="btn-group" style="text-align:left" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle
      	title="Link referencing current log entry for
			bookmarking or for sharring with others">
        <i class="fa fa-link"></i> Permalink <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href ngclipboard data-clipboard-text="{{absEntryViewerLink}}"><i class="fa fa-clipboard"></i> Copy log entry link to clipboard</a></li>
        <li role="menuitem"><a href="{{entryViewerLink}}" target="_blank"><i class="fa fa-external-link"></i> Open log entry link in new window</a></li>
      </ul>
    </span>
	<button class="btn btn-primary" ng-click="close()">Close</button>
</div>